@charset "utf-8";

@page skill-sheet{
  size: A4 portrait;
  mergin: 20mm;
}

@media print {
  body {
    width: 210mm;
  }
  thead {
    display: table-header-group;
  }
}

.profile-basics-header, .work-history-header {
  background-color: deepskyblue;
  font-size: 1.1rem;
}

.phase-header, .period, .scale-list, .language-list, .db-list, .server-os-list, .fw-mw-tool-list {
  list-style-type: none;
  margin-bottom: 0.5rem;
  padding-inline-start: 0 !important;
  -webkit-padding-start: 0 !important;
  -moz-padding-start: 0 !important;
}

.print {
  page: skill-sheet;
}

.work-history-item {
  height: 16rem;
}
